@layer components {
  body {
    background-color: var(--background);
    color: var(--text-foreground);
    font-size: var(--text-base);
    font-family: var(--font-family);
  }

  button {
    --color-trigger: var(--chart-4);
  }
}
