@theme inline {
  --breakpoint-*: initial;
  --breakpoint-sm: 0px;
  --breakpoint-md: 700px;
  --breakpoint-lg: 1200px;

  --text-xs: 12px;
  --text-sm: 13.5px;
  --text-base: 15px;
  --text-md: 17px;
  --text-lg: 19px;
  --text-xl: 22px;
  --text-2xl: 26px;
  --text-3xl: 31px;
  --text-4xl: 41px;
  --text-5xl: 50px;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-radius: var(--radius);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-background: var(--background);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-focus-ring: var(--focus-ring);
  --color-foreground: var(--foreground);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-popover-background: var(--popover-background);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-border: var(--popover-border);

  --color-select-separator-color: var(--select-separator-color);
  --color-select-label-background: var(--select-label-background);
  --color-select-group-background: var(--select-group-background);
  --color-select-item-selected-background: var(--select-item-selected-background);
  --color-select-item-hover-background: var(--select-item-hover-background);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-ring: var(--focus-ring, var(--ring));
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-selection: var(--selection-foreground);
  --color-sidebar: var(--sidebar);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-text: var(--text);
  --color-text-foreground: var(--text-foreground);
  --color-trigger: var(--trigger);

  --selected-background: var(--filetree-selected-background, var(--muted));
  --selected-foreground: var(--filetree-selected-foreground, var(--foreground));

  --selection-background: var(--selection-background);
  --selection-foreground: var(--selection-foreground);

  --sidebar-accent: var(--sidebar-accent);
  --sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --sidebar-background: var(--sidebar);
  --sidebar-border: var(--sidebar-border);
  --sidebar-foreground: var(--sidebar-foreground);
  --sidebar-primary: var(--sidebar-primary);
  --sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --sidebar-ring: var(--sidebar-ring);
  --sidebar-width: 2000px;

  --scrollbar-track: var(--scrollbar-track);
  --scrollbar-thumb: var(--scrollbar-thumb);
  --scrollbar-thumb-hover: var(--scrollbar-thumb-hover);
  --scrollbar-thumb-active: var(--scrollbar-thumb-active);

  --color-tab-nav-background: var(--tab-nav-background);
  --color-tab-nav-accent: var(--tab-nav-accent);
}
